

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(../assets/images/about_page.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">About us</div>
							<div class="home_subtitle">Pilates, Yoga, Fitness, Spinning & many more</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to sportfit</div>
							<div class="section_title">About <span>Sportfit</span></div>
						</div>
						<div class="about_text">
							<p>Lifee Time is the premiere, athletic-based, Strength & Conditioning training facility aimed at unleashing the inner athlete in everyone. Sessions are team-oriented, competitive, fun, and supportive, guaranteeing optimal fitness results. Whether you’re an elite athlete, or just want to train like one, Tone House’s goal is to bring sports conditioning workouts to the mainstream and help individuals improve their mental and physical health and become better overall athletes and people.</p>
						</div>
						<div class="button about_button"><a href="#">Join Now</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_background">
			<div class="about_image"><img src="../assets/images/a2.png" alt=""></div>
		</div>
	</div>

	<!-- Team -->

	<div class="team">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/blog.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to sportfit</div>
						<div class="section_title">The Team</div>
					</div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Member -->
				<div class="col-lg-4 team_col"  *ngFor="let t of listentraineur" >
					<div class="team_item" >
						<div class="team_image">
                            <img class="image"  [src]="sanitizeImageUrl(t.img.toString())" alt="entraineur" />
                        </div>
						<div class="team_panel d-flex flex-column align-items-center justify-content-center text-center">
							<div class="team_name"><a href="#">{{t.nom}} {{t.prenom}}</a></div>
							<div class="team_title">personal trainer</div>
						</div>
					</div>
				</div>

				

			</div>
		</div>
	</div>

	<!-- Skills -->

	<div class="skills">
		<div class="container">
			<div class="row row-lg-eq-height">
				
				<!-- Extra -->
				<div class="col-lg-6">
					<div class="extra d-flex flex-column align-items-center justify-content-center text-center">
						<div class="background_image" style="background-image:url(../assets/images/extra.jpg)"></div>
						<div class="extra_title">15% Discount</div>
						<div class="extra_text">
							<p>For the new coming</p>
						</div>
						<div class="button extra_button"><a href="#">Join Now</a></div>
					</div>
				</div>

				<!-- Skills -->
				<div class="col-lg-6 skills_col">
					<div class="skills_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to sportfit</div>
							<div class="section_title">We love sport</div>
						</div>
						<div class="skills_text">
							<p>People like sports because they get self-esteem benefits from it. ... People like sports because, like the theater, it is a venue for emotional expression. People like sports because they need an escape from real-world troubles. People like sports because it provides a sense of belonging, a connection to a wider world.</p>
						</div>

						<!-- Progress Bars -->
						<ul class="progress_bar_container col_12 clearfix">
							<li class="pb_item">
								<div id="skill_1_pbar" class="skill_bars" data-perc="1.00" data-name="skill_1_pbar"></div>
								<h5>Fitness</h5>
							</li>
							<li class="pb_item">
								<div id="skill_2_pbar" class="skill_bars" data-perc="0.70" data-name="skill_2_pbar"></div>
								<h5>Pilates</h5>
							</li>
							<li class="pb_item">
								<div id="skill_3_pbar" class="skill_bars" data-perc="0.85" data-name="skill_3_pbar"></div>
								<h5>Yoga</h5>
							</li>
							<li class="pb_item">
								<div id="skill_4_pbar" class="skill_bars" data-perc="0.95" data-name="skill_4_pbar"></div>
								<h5>Aerobics</h5>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
