

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(../assets/images/index.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="video_link">
								<a class="vimeo video_button d-flex flex-column align-items-center justify-content-center" href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0">
									<div class="video_link_content d-flex flex-row align-items-center justify-content-start">
										<div class="video_icon d-flex flex-column align-items-center justify-content-center"><i class="fa fa-play" aria-hidden="true"></i></div>
										<span class="video_text">See Workout Video</span>
									</div>
								</a>
							</div>
							<div class="home_title">Get fit with us</div>
							<div class="home_subtitle">Pilates, Yoga, Fitness, Spinning & many more</div>
							<div class="button home_button ml-auto mr-auto"><a href="#">Join Now</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Boxes -->

	<div class="boxes">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="boxes_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						
						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="../assets/images/icon_1.png" alt=""></div>
							<div class="box_title">Pilates with trainer</div>
							<div class="box_text">
								<p></p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="../assets/images/icon_2.png" alt=""></div>
							<div class="box_title">Swimming Pool</div>
							<div class="box_text">
								<p></p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="../assets/images/icon_3.png" alt=""></div>
							<div class="box_title">Healthy diet plan</div>
							<div class="box_text">
								<p></p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to Life Time Gym</div>
							<div class="section_title">About <span>Life Time Gym</span></div>
						</div>
						<div class="about_text">
							<p>Lifee Time is the premiere, athletic-based, Strength & Conditioning training facility aimed at unleashing the inner athlete in everyone. Sessions are team-oriented, competitive, fun, and supportive, guaranteeing optimal fitness results. Whether you’re an elite athlete, or just want to train like one, Tone House’s goal is to bring sports conditioning workouts to the mainstream and help individuals improve their mental and physical health and become better overall athletes and people.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_background">
			<div class="container fill_height">
				<div class="row fill_height">
					<div class="col-lg-6 offset-lg-6 fill_height">
						<div ><img src="../assets/images/a1.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->
   <div class="testimonials">
	   <app-calcul-imc (notif)="calculate()"></app-calcul-imc>
   </div>



	<!-- Services -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to Life Time Gym</div>
						<div class="section_title">Our Courses</div>
					</div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_4.png" alt=""></div></div>
							<div class="service_title">Weight Loss Class</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_5.png" alt=""></div></div>
							<div class="service_title">Yoga Classes</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_6.png" alt=""></div></div>
							<div class="service_title">Spinning Class</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_7.png" alt=""></div></div>
							<div class="service_title">Private Fit Class</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_8.png" alt=""></div></div>
							<div class="service_title">Nutrition Classes</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="../assets/images/icon_9.png" alt=""></div></div>
							<div class="service_title">Pillates Class</div>
						</div>
						<div class="service_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="blog_overlay"></div>
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/blog.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class=" d-flex flex-row align-items-start justify-content-start">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to Life Time Gym</div>
							<div class="section_title">The Blog</div>
						</div>
						<div class="all_posts_link ml-auto"><a href="#">View all blog posts</a></div>
					</div>
				</div>
			</div>
			<div class="row blog_row">
				
				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="../assets/images/blog_1.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">Tips for the perfect body</a></div>
						<div class="blog_post_date"><a href="#">june 29, 2018</a></div>
						<div class="blog_post_text">
							<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Odio vestibulum est mattis effic iturut.</p>
						</div>
						<div class="blog_post_link"><a href="#">Read More</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="../assets/images/blog_2.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">Tips for the perfect body</a></div>
						<div class="blog_post_date"><a href="#">june 29, 2018</a></div>
						<div class="blog_post_text">
							<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Odio vestibulum est mattis effic iturut.</p>
						</div>
						<div class="blog_post_link"><a href="#">Read More</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="../assets/images/blog_3.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">Video: Pilates 4 Begginers</a></div>
						<div class="blog_post_date"><a href="#">june 29, 2018</a></div>
						<div class="blog_post_text">
							<p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Odio vestibulum est mattis effic iturut.</p>
						</div>
						<div class="blog_post_link"><a href="#">Read More</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	