<div class="row" style="margin: 200px;" > 
    <div class="col-md-12" > 
      <a [routerLink]="['addcours','add']">Add New Course</a>
        <br>
           <table class="table">
               <thead>
                 <tr>
                   <th scope="col">Name</th>
                   <th scope="col">description</th>
                   <th scope="col">Intensité</th>

                   <th scope="col">Edit </th>
                   <th scope="col">Delete </th>


                 </tr>
               </thead>
               <tbody *ngFor="let c of listCours" >
                  <tr>
                  <td>{{c.nom}}</td>
                   <td>{{c.Description}}</td>
                   <td>{{c.Intensite}}</td>
                   <td>
                   <button  class="btn btn-primary"  [routerLink]="['editcours',c.id,'edit']" >Edit </button>
                   </td>
                   <td>
                   <button  class="btn btn-primary" (click)="delete(c.id)" >Delete </button>
                   </td>
                  </tr>
               </tbody>

           </table>

     </div>
     </div>