<div class="row" style="margin: 200px;" > 
    <div class="col-md-12" > 
        <br>
        <div class="movie"    >
           <table class="table">
               <thead>
                 <tr>
                   <th scope="col">Name</th>
                   <th scope="col">description</th>
                   <th scope="col">price</th>

                   <th scope="col">Edit </th>
                   <th scope="col">Delete </th>


                 </tr>
               </thead>
               <tbody *ngFor="let c of listCours" >
                  <tr>
                  <td>{{c.Nom}}</td>
                   <td>{{c.Description}}</td>
                   <td>{{c.Intensite}}</td>
                   <td>
                   <button  class="btn btn-primary"  [routerLink]="['editcours',c.id]" >Edit </button>
                   </td>
                   <td>
                   <button  class="btn btn-primary" (click)="delete()" >Delete </button>
                   </td>
                  </tr>
               </tbody>

           </table>
        </div>

     </div>
     </div>