
    <!-- Form -->
<div class="Blog" style="margin:200px;">
  <div class="container" >
    <div class="row">
      <form  #f="ngForm">
        <div class="form-group ">
          <label>FirstName</label>
          <input type="text" name="id" class="form-control"  [(ngModel)]="select.nom" #i="ngModel" required>
        </div>
        <div class="alert alert-danger" *ngIf="i.touched && t.invalid" >
          A Name is required
        </div>
        <div class="form-group">
          <label>LastName</label>
          <input type="text" name="title" class="form-control"  [(ngModel)]="select.prenom" required minlength="3" #t="ngModel" pattern="[a-zA-Z]+$">
        </div>
        <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
          <div *ngIf="t.errors.required"> description is required</div>
          <div *ngIf="t.errors.minlength">title minlength is 3</div>
          <div *ngIf="t.errors.pattern">enter a valid description</div>
        </div>
        <div class="form-group">
          <label>phone </label>
          <input type="number" name="phone" class="form-control"  [(ngModel)]="select.phone" #q="ngModel" required >
        </div>
        <div class="alert alert-danger" *ngIf="q.touched && q.invalid">
          quantity is required
        </div>
        <div class="alert alert-danger" *ngIf="q.value<0 ">
          quantity>0
        </div>
        <div class="form-group">
          <label>image </label>
          <input #imageInput type="file" accept="image/*" name="img" class="form-control"  [(ngModel)]="select.img" #p="ngModel" required>
          <img *ngIf="val=='edit'" style="height: auto; width: 30%" [src]="sanitizeImageUrl(select.img.toString())"
                alt="Game 1" />
        </div>
        <div class="alert alert-danger" *ngIf="p.touched && p.invalid">
          image is required
        </div>
        <div style="display: flex; justify-content: space-between;"> 
        <button class="btn btn-success"  type="submit"   (click)="save()" >
         {{val}}
        </button>
        </div>
      </form>
    </div>
  </div>
</div>